h1{
  text-align: center;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.5em;
  margin-top: 4em;
}

h2{
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 5em;
  margin-top: -0.3em;
}

#one{
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1em;
  margin-top: -3em;
  margin-bottom: 50px;
}

#champname{
  transition: .5s;
  background-color: rgb(4, 4, 43);
  font-weight: bold;
  text-indent: 5%;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: white;
  margin-top: -.3em;
  padding: 15px 0px 15px 0px
}

#wholePhoto:hover{
  cursor:pointer;
}

#wholePhoto:hover #champname{
  transition: .5s;
  background-color: rgb(87, 87, 199);
  text-indent: 10%;
  cursor:pointer;
}

#photoArray{
  justify-content: center;
  display: grid; 
  gap: 1.2em;
  grid-template-areas:
  "photoOne photoTwo photoThree photoFour photoFive";
}